[Unit]
Description=MyAgent Server

[Service]
Type=simple
ExecStart=/usr/bin/env myagent -d
ExecReload=/bin/kill -SIGTERM $MAINPID ; /usr/bin/env myagent -d
Restart=always
RestartPreventExitStatus=0 1 3

[Install]
WantedBy=multi-user.target
